* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.selectionPart {
    
}

select {
    margin: 1rem;
    
}

.container {
    background-color: rgb(226, 236, 245);
    box-sizing: content-box;
    padding: 1rem 0 1rem 0;
}
